:root{

    --pink:#D2247C;
    --blue:#009BDD;
    --yellow:#E0D033;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;
    background:black;

}

#universo{

    display:block;
    width:100%;
    height:100%;

}