:root{


--pink:#D2247C;
--blue:#009BDD;
--yellow:#E0D033;


--bg:#121212;
--grid:#2A2A2A;
--white:#F5F5F5;


}


*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

    padding-top:70px;


background:var(--bg);
color:white;
overflow-x:hidden;


font-family:'Oxanium',sans-serif;

    cursor:url('assets/Cursor-Amarillo.png') 0 0, auto;

}


/* GRID */


.grid{


position:fixed;
inset:0;


background-image:
linear-gradient(var(--grid) 1px, transparent 1px),
linear-gradient(90deg,var(--grid) 1px, transparent 1px);


background-size:40px 40px;


z-index:-1;


}


/* HERO */


#hero{


    position:relative;


    min-height:100vh;


    padding:1cm;


    margin-bottom:20rem;


}


.path-container{


    position:absolute;
    inset:0;


    overflow:visible;


    pointer-events:none;


}


.path{


    position:absolute;


    top:1rem;
    left:54%;


    transform:translateX(-58%);


    width: 1550px;


    height:auto;


}


/* TITULO */


.hero-content{


    position:relative;


    z-index:2;


    display:flex;


    flex-direction:column;


    align-items:center;


    padding-top:6rem;


}


#titulo{


    font-family:'Orbitron',sans-serif;


    font-size:clamp(4rem,7vw,7rem);


    font-weight:700;


    letter-spacing:.05em;


    text-align:center;


    margin-top:20rem;


     color:#ffffff;
    cursor:pointer;
    transition:color .3s ease;


}


/* ESLOGAN */


.slogan{


    margin-top:22rem;


    display:flex;
    flex-direction:column;


    gap:1rem;


    font-family:'Orbitron',sans-serif;


    font-size:4rem;


    font-weight:700;


}


.conecta{


    margin-left:-40rem;


}


.decide{


    margin-left:-35rem;


}


.avanza{


    margin-left:-30rem;


}


.conecta:hover{


color:var(--pink);


}


.decide:hover{


color:var(--yellow);


}


.avanza:hover{


color:var(--blue);


}


/* FRANJAS */


.info-section{
    margin-top:6rem;
}


.info-wrapper{


    position:relative;


    width:100%;


    height:220px;


    overflow:hidden;


}


/* TEXTO */


.info-content{


    position:absolute;


    top:0;
    left:0;


    width:100%;
    height:100%;


    display:flex;
    flex-direction:column;
    justify-content:center;


    padding:2rem;


    z-index:1;


    color:white;


}


.info-content h2{


    font-family:'Oxanium',sans-serif;


    font-size:2rem;


    margin-bottom:1rem;


}


.info-content p{

    font-family:'Oxanium',sans-serif;

    font-size:1.3rem;

    line-height:1.8;

    max-width:900px;

}

/* TEXTO EN NEGRITA */

.info-content strong{

    display:block;

    margin-top:1rem;

    font-size:1.4rem;

    font-weight:700;

}


/* FRANJA VISIBLE */


.color-bar{


    width:100%;
    height:160px;


    transition:
        height .4s ease,
        opacity .4s ease;


}


/* TEXTO OCULTO */


.info-content{


    max-height:0;


    overflow:hidden;


    opacity:0;


    padding:0 2rem;


    color:white;


    transition:
        max-height .5s ease,
        opacity .4s ease,
        padding .4s ease;


}


.info-content h2{


    font-family:'Oxanium',sans-serif;


    font-size:clamp(1.8rem,3vw,2.8rem);


    margin-bottom:1rem;


}


.info-content p{


    font-family:'Oxanium',sans-serif;


    line-height:1.8;


    max-width:900px;


}


/* EFECTO HOVER */


.info-wrapper:hover .color-bar{


    opacity:0;


    height:0;


}


.info-wrapper:hover .info-content{


    max-height:300px;


    opacity:1;


    padding:2rem;


}


/* COLORES */


.pink{


    background:var(--pink);


}


.blue{


    background:var(--blue);


}


.yellow{


    background:var(--yellow);


}


/* CARRUSEL */


#gallery{


padding:4rem 1rem;


margin-bottom:0px;


}


.carousel{


    position:relative;


    display:flex;


    justify-content:center;


    align-items:center;


}


.prev{


    left:22%;


}


.next{


    right:22%;


}


.slides{


    width:100%;
    height:420px;


    overflow:hidden;


}


.slide{


    width:100%;


    height:550px;


    object-fit:contain;


    display:none;


}


.slide.active{


display:block;


}


.arrow{


    position:absolute;


    top:50%;


    transform:translateY(-50%);


    background:none;
    border:none;


    color:white;


    font-size:5rem;


    cursor:pointer;


    z-index:999;


    line-height:1;


}


/* PIEZAS */


#pieces{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-top:6rem;

    gap:4rem;
}

.piece{


    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:pointer;
}


.piece:hover{


transform:translateY(-8px);


}


.piece img{


width:220px;


}


.piece span{


    margin-top:1.5rem;


    color:#fff;


    font-size:2rem;


}


/* CTA */


#cta{

    text-align:center;

    padding-top:6rem;

    padding-bottom:6rem;

}


#cta h2{


font-family:'Orbitron';


font-size:clamp(2rem,5vw,3rem);


}


@media(max-width:768px){


#pieces{


flex-direction:column;


align-items:center;


}


}


/* Ancho del scroll */
::-webkit-scrollbar{
    width:12px;
}


/* Fondo */
::-webkit-scrollbar-track{
    background:#0a0a0a;
}


/* Barra */
::-webkit-scrollbar-thumb{
    background:#d12a82;
    border-radius:10px;
    transition:background .3s ease;
}


/* Hover */
::-webkit-scrollbar-thumb:hover{
    background:#1aa0d8;
}


/* Mientras se mantiene presionada */
::-webkit-scrollbar-thumb:active{
    background:#d9cf35;
}


::-webkit-scrollbar-thumb{
    background:var(--pink);
}


::-webkit-scrollbar-thumb:hover{
    background:var(--blue);
}


::-webkit-scrollbar-thumb:active{
    background:var(--yellow);
}



/* LOADER */

#loader{

    position:fixed;

    top:0;
    left:0;

    width:100vw;
    height:100vh;

    background:#121212;

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:999999;

}

.loader-pieces{

    display:flex;

    align-items:center;

    gap:1rem; /* misma separación */

}

.loader-piece{

    display:block;

    height:auto;

    transform-origin:center center;

}

/* TAMAÑOS */

.loader-yellow{

    width:120px;

    animation:spin 2s linear infinite;

}

.loader-pink{

    width:120px;

    animation:spin 2s linear infinite;

}

.loader-blue{

    width:45px;

    animation:spin 2s linear infinite;

}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

/* VIDEO */

#video{

    margin-top:3rem;

    padding:3rem 4rem 6rem 4rem;

    box-sizing:border-box;

}

.video-header{

    max-width:100%;

    margin-bottom:3rem;

    padding:0;

}

.video-header h2{

    font-family:'Orbitron';

    font-size:clamp(1.5rem,3vw,2.5rem);

    margin-bottom:1.5rem;

}

.video-header p{

    font-size:1.1rem;

    line-height:1.7;

    max-width:1100px;

}

.video-wrapper{

    position:relative;

    width:100%;

    max-width:1200px;

    margin:0 auto;

    aspect-ratio:16/9;

    border-radius:12px;

    overflow:hidden;

}

.video-wrapper iframe{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

}


/* PARTITURA*/

.score-header{

    max-width:100%;
    margin-bottom:3rem;
    padding:0;

}

.score-header h2{

    font-family:'Orbitron';
    font-size:clamp(1.5rem,3vw,2.5rem);
    margin-bottom:1.5rem;
}

.score-header p{
    font-size:1.1rem;
    line-height:1.7;
    max-width:1100px;
}

.score-image{

    width:100%;
    max-width:1200px;
    margin:0 auto;
}

.score-image img{

    width:100%;

    display:block;

    border-radius:12px;
}

#score{

    margin-top:3rem;
    padding:3rem 4rem 6rem 4rem;
    box-sizing:border-box;
}

.score-header{
    max-width:100%;
    margin-bottom:3rem;
    padding:0;
}

.score-caption{

    display:block;

    width:100%;

    text-align:center;
    margin-top:1.5rem;
    margin-bottom:2rem;

    font-size:1.2rem;

    color:#bdbdbd;

    font-style:italic;

}

/* FOOTER */

#footer{

    margin-top:8rem;
    padding:3rem 2rem;
    border-top:1px solid #2a2a2a;

    background:#0a0a0a;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

    gap:2rem;

}

.footer-logos{

    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:2.5rem;
    margin-left:0;
}

.footer-logos img{
    height:45px;

    width:auto;

    opacity:.9;

}

.footer-info{
    text-align:left;
}

.footer-info h3{

    font-family:'Orbitron';
    font-size:1rem;
    margin-bottom:.5rem;
}

.footer-info p{

    color:#bdbdbd;
    margin:.2rem 0;
    font-size:.8rem;
}

/* NAVBAR */

#navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    background:#000;

    display:flex;

    justify-content:space-between;
    align-items:center;

    padding:1.2rem 3rem;

    z-index:9999;

    box-sizing:border-box;

}

.nav-logo{

    font-family:'Orbitron',sans-serif;

    font-weight:700;

    font-size:1.3rem;

    letter-spacing:.05em;

    color:#fff;

}

.nav-links{

    display:flex;

    gap:2.5rem;

}

.nav-link{

    font-family:'Oxanium',sans-serif;

    font-size:1rem;

    letter-spacing:.03em;

    color:#fff;

    text-decoration:none;

    cursor:pointer;

    transition:color .3s ease;

}

.nav-link.active-amarillo{

    color:var(--yellow);

}

.nav-link.active-rosa{

    color:var(--pink);

}

.nav-link.active-celeste{

    color:var(--blue);

}

@media(max-width:768px){

    #navbar{

        flex-direction:column;

        gap:1rem;

        padding:1rem 1.5rem;

    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:1.2rem;

    }

}